<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p dir="rtl" style="text-align: right;"><strong>מדיניות פרטיות אפליקצייתGET ELECTRIC IEC&nbsp;</strong></p>
<p dir="rtl" style="text-align: right;">תאריך עדכון אחרון: 20 לאוגוסט 2023</p>
<p style="text-align: right;"><br></p>
<p dir="rtl" style="text-align: right;">מבוא&nbsp;</p>
<ul>
    <ul>
        <li dir="rtl" style="text-align: right;">ברוכים הבאים לאפליקציית &quot;GET ELECTRIC IEC&quot; (להלן: &quot;האפליקציה&quot; או &quot;השירותים&quot;) של חברת חשמל לישראל בע&quot;מ (להלן: &quot;החברה&quot; או &quot;אנחנו&quot; או &quot;חח&quot;י&quot;) אשר מטרתה לנהל תהליך תיקון תקלות נתיכים על ידי מתקני בית וחשמלאים חיצוניים.&nbsp;</li>
        <li dir="rtl" style="text-align: right;">המדיניות מתייחסת למשתמשים כהגדרתם מטה, אלא אם כן צוין אחרת.</li>
        <li dir="rtl" style="text-align: right;">אנו מתייחסים בכבוד רב לפרטיותכם, ועל כן חשוב לנו להבהיר לכם את היקף המידע הנאסף אודותיכם ו/או הקיים באפליקציה השימושים שיתכן וייעשו בו וזכויותיכם ביחס אליו.</li>
        <li dir="rtl" style="text-align: right;">מסמך זה מפרט את מדיניות הפרטיות בעת שימוש בשירותים ומהווה חלק בלתי נפרד מתנאי השימוש האמורים, שיחד מהווים מסמך משפטי מחייב בין המשתמש לבין החברה.&nbsp;</li>
        <li dir="rtl" style="text-align: right;">החברה תהא רשאית להפסיק את הפעילות המתבצעת ביישום באופן זמני ו/או קבוע, בכל עת, וזאת לצורך ביצוע עדכונים ו/או שדרוגים ו/או תיקונים ו/או התאמות ו/או כתוצאה מהפרעות זמינות ותקינות של השירותים ו/או משיבושים או כשלים ברשת האינטרנט או ברשת הטלפונים, מכל מין וסוג שהן. המשתמש מוותר בזאת באופן בלתי חוזר על כל טענה, וכן יהיה מנוע ומושתק מלהעלות כל תביעה ו/או דרישה בקשר לאמור.</li>
        <li dir="rtl" style="text-align: right;">המסמך כתוב בלשון זכר מטעמי נוחות בלבד, אך מתייחס לשני המינים כאחד. אנו מודים לך שהקדשת מזמנך לקריאת מסמך זה.</li>
    </ul>
</ul>
<p dir="rtl" style="text-align: right;">הגדרות</p>
<ul>
    <ul>
        <li dir="rtl" style="text-align: right;"><strong>&quot;אתה&quot; או &quot;משתמש&quot; &ndash;</strong> משמעו כל אדם המשתמש בשירות באמצעות מחשב ו/או מכשיר קצה אחר, לרבות תקשורת סלולארית. לעניין זה, מתקני בית וחשמלאים חיצוניים (&quot;להלן: מתקנים&quot;).&nbsp;</li>
    </ul>
</ul>
<p dir="rtl" style="text-align: right;">מתקני בית &ndash; עובדי חח&quot;י בעלי הסמכה מתאימה לטפל בתקלות נתיכים, שנשלחים לטפל בנתיכים מחוץ לשעות העבודה. חשמלאים חיצוניים &ndash; קבלנים וחשמלאים שהינם ספקים של חח&quot;י ובעלי הסמכה לתיקון תקלות נתיכים אצל לקוחות, שנבדקו וקיבלו אישור מחח&quot;י.</p>
<ul>
    <ul>
        <li dir="rtl" style="text-align: right;"><strong>&quot;השירות&quot;</strong> &ndash; שירות האפליקציה &ldquo;GET ELECTRIC IEC&quot;&nbsp;המיועדת לקהל המתקנים ומאפשרת להם לנהל את תהליך תיקון התקלות. בכלל זה, קבלת התראה על תקלות הנדרשות לטיפול באזורם ומעקב אחר הטיפול בהן.</li>
        <li dir="rtl" style="text-align: right;">&quot;<strong>&nbsp;מידע&quot; -&nbsp;</strong>כל מידע אודות אדם המועבר ו/או נשמר במערכות המידע של חברת חשמל בעת השימוש באפליקציה.</li>
    </ul>
</ul>
<p dir="rtl" style="text-align: right;">המידע&nbsp;שאנו&nbsp;אוספים</p>
<ul>
    <ul>
        <li dir="rtl">מידע שאתה מספק לחברה&nbsp;<ul>
                <li dir="rtl" style="text-align: right;">על מנת שתוכל לעשות שימוש בשירות המוצע ביישום, יוזנו הנתונים הבאים, אשר נמסרו על ידך בעת הצטרפותך לשירות, ע&quot;י מנהל המערכת: מספר תעודת זהות, מספר טלפון, שם פרטי, שם משפחה.&nbsp;</li>
                <li dir="rtl" style="text-align: right;">בנוסף, אנו שומרים גם את המיקום האחרון שלך והיסטוריית התקלות בהם טיפלת.</li>
                <li dir="rtl" style="text-align: right;">המידע עשוי להישמר במערכות המידע של החברה וישמש אותה בלבד, לצורך מתן השירותים, שיפור השירות, תמיכה, התחשבנות וכד&apos;.</li>
                <li dir="rtl" style="text-align: right;">המידע לעיל מאפשר לך גם, בין היתר, להתחבר לאפליקציה, בה תידרש להזדהות על ידי מספר טלפון ותעודת זהות.</li>
                <li dir="rtl" style="text-align: right;">הנך מצהיר כי פריטי המידע הנמסרים על ידך נמסרים מרצונך החופשי ו/או בהסכמתך. אינך חייב על-פי חוק למסור את המידע, אולם מבלי למסרו, לא תוכל להשתמש ביישום.</li>
                <li dir="rtl" style="text-align: right;">ככל שנדרשים פרטים אישיים בעת הרישום או השימוש בשירותי היישום, החברה תבקש ממך רק את המידע הנחוץ במישרין לאספקת השירותים.</li>
            </ul>
        </li>
        <li dir="rtl">מידע שנאסף באופן אוטומטי:<ul>
                <li dir="rtl" style="text-align: right;">בעת השימוש בשירותים, החברה אוספת נתוני לוג ומידע אנונימי אחר על המשתמש, לצרכים סטטיסטיים, שיפור השירות והאפליקציה, והתאמתם לצרכי המשתמש.</li>
                <li dir="rtl" style="text-align: right;">נתוני לוג הם מידע סטטיסטי, מצטבר ולא מזהה לגבי פעילות המשתמש בשירותים, כגון: הפעולות אותן ביצע באפליקציה, כתובת האינטרנט (IP), זמן הגלישה בשירותים ועוד.&nbsp;</li>
                <li dir="rtl" style="text-align: right;">נתוני לוג נשלחים מהאפליקציה בעת השימוש בה, ונרשמים באופן אוטומטי על ידי שרת החברה. החברה עשויה לשמור נתוני לוג ללא הגבלת זמן.&nbsp;</li>
            </ul>
        </li>
    </ul>
</ul>
<p dir="rtl" style="text-align: right;">השימוש&nbsp;במידע</p>
<p dir="rtl" style="text-align: right;">בהתאם לחוק, ידוע לך ואתה נותן את הסכמתך המפורשת לכך שהחברה מקבלת ושומרת את המידע האישי אודותיך למטרות ולשימושים הבאים:</p>
<ul>
    <ul>
        <li dir="rtl" style="text-align: right;">לזהות אתכם באופן אוטומטי.</li>
        <li dir="rtl" style="text-align: right;">לשם יצירת אזור אישי באפליקציה בה יישמרו נתוניך האישיים ותוכל לבצע פעולות אישיות באפליקציה, אם וככל שיהיו קיימים כאלו.</li>
        <li dir="rtl" style="text-align: right;">לצורך שליחת התראות למכשיר הנייד, ככל שיעלה הצורך.</li>
        <li dir="rtl" style="text-align: right;">לניהול, מעקב וצפייה בכל פרטי התקלות.</li>
        <li dir="rtl" style="text-align: right;">לשמירת היסטוריית התיקונים בהם טיפלת.</li>
        <li dir="rtl" style="text-align: right;">שליחת חיוויים והתראות SMS ללקוחות.</li>
        <li dir="rtl" style="text-align: right;">הפקת דוחו&quot;ת טיפול בתקלות.</li>
        <li dir="rtl" style="text-align: right;">קישור לנתונים במערכות הרלוונטיות בחברה לצורך מעקב והתחשבנות.</li>
        <li dir="rtl" style="text-align: right;">לשיפור חווית השימוש שלך בשירותים, למדוד את הביצועים של השירותים&nbsp;&nbsp;ולשפר את התוכן והעיצוב שלהם;</li>
        <li dir="rtl" style="text-align: right;">לצורך עיבוד מידע סטטיסטי באמצעות איסוף וניתוח מידע אנונימי, סטטיסטי, או מצרפי (אגרגטיבי);</li>
        <li dir="rtl" style="text-align: right;">מטעמים משפטיים (למשל כדי למלא צו שיפוטי, חוק, בקשה ממשלתית וכיו&quot;ב).</li>
        <li dir="rtl" style="text-align: right;">בכדי לזהות, למנוע או לטפל בתרמית, בסוגיות אבטחת מידע או בבעיות טכניות;</li>
        <li dir="rtl" style="text-align: right;">להגן בפני פגיעה בזכויות צדדים שלישיים, לרבות זכויות קניין רוחני, פגיעה בפרטיות ולשון הרע;</li>
        <li dir="rtl" style="text-align: right;">לצורך אבטחת השירותים המוצעים.</li>
        <li dir="rtl" style="text-align: right;">השימוש שייעשה במידע שנאסף ייעשה רק על פי מדיניות פרטיות זו ועל פי&nbsp;הוראות&nbsp;כל&nbsp;דין.</li>
    </ul>
</ul>
<p dir="rtl" style="text-align: right;">מתן&nbsp;הרשאות&nbsp;לאפליקציה</p>
<ul>
    <ul>
        <li dir="rtl" style="text-align: right;">בעת התקנת האפליקציה יתבקש המשתמש לאשר הרשאת מיקום, לצורך קבלת תקלות לטיפול באזורו.</li>
        <li dir="rtl" style="text-align: right;">במידה שהמשתמש מעוניין להעלות תמונה לאפליקציה ו\או להעלות קובץ, יידרש המשתמש לתת הרשאת גישה לקבצים ו\או לגלריית התמונות ו\או למצלמה בטלפון הנייד.&nbsp;</li>
        <li dir="rtl" style="text-align: right;">חשוב לציין כי אם המשתמש מעוניין, הוא יכול לדחות את הגישה למתן המידע לאפליקציה, אך לא יוכל להשתמש בחלק מהשירותים הקיימים באפליקציה.&nbsp;</li>
    </ul>
</ul>
<p dir="rtl" style="text-align: right;">מסירת&nbsp;מידע&nbsp;לצד&nbsp;שלישי</p>
<ul>
    <ul>
        <li dir="rtl">החברה לא תעביר לצדדים שלישיים את פרטיכם האישיים והמידע המזהה אתכם באופן אישי אלא במקרים המפורטים להלן:<ul>
                <li dir="rtl" style="text-align: right;">בהסכמת המשתמש.</li>
                <li dir="rtl" style="text-align: right;">במקרה בו העבירה ו/או המחתה החברה לצד שלישי את פעילותה ו/או את זכויותיה וחובותיה כלפי המשתמש, לצדדים שלישיים, ובלבד שצדדים שלישיים כאמור יקבלו על עצמם את ההוראות המפורטות במדיניות פרטיות זו.</li>
                <li dir="rtl" style="text-align: right;">בכל מקרה בו הפר המשתמש את תנאי השימוש, לרבות תנאי מדיניות הפרטיות ו/או תנאי השימוש הייעודיים ו/או במקרים בהם ביצע המשתמש או ניסה לבצע המשתמש ו/או מי מטעמו, באמצעות האפליקציה ו/או בקשר איתה, פעולות המנוגדות להוראות תנאי השימוש, לרבות מדיניות הפרטיות, לרבות תנאי השימוש הייעודיים ו/או להוראות כל דין.</li>
            </ul>
        </li>
        <li dir="rtl">החברה רשאית להעביר את פרטיכם לרשויות החוק במקרים המפורטים להלן:<ul>
                <li dir="rtl" style="text-align: right;">בשל כל מחלוקת, טענה, תביעה, דרישה ו/או הליכים משפטיים אשר יתנהלו בין המשתמש ו/או מטעמו לבין החברה ו/או מי מטעמה.</li>
                <li dir="rtl" style="text-align: right;">אם תבצע באפליקציה, פעולות שבניגוד לדין או בניגוד לתנאי השימוש;</li>
                <li dir="rtl" style="text-align: right;">אם יתקבל צו שיפוטי המורה למסור את פרטיך או המידע אודותיך לצד שלישי;</li>
                <li dir="rtl" style="text-align: right;">אם החברה תסבור לפי מיטב שיקול דעתה, כי מסירת המידע האמור נדרשת להעברה לרשויות החוק על מנת להקטין נזק מכל מין וסוג שהוא שיגרם לאפליקציה, ו/או לכל צד שלישי אחר.</li>
                <li dir="rtl" style="text-align: right;">בכל מקרה בו תסבור החברה, כי מסירת המידע נחוצה על מנת למנוע נזק חמור לרכושם ו/או לגופם של החברה, של המשתמש ו/או של צדדים שלישיים ו/או על מנת למנוע נזק חמור אחר, וזאת לפי שיקול דעתה הבלעדי של החברה.</li>
            </ul>
        </li>
    </ul>
</ul>
<p dir="rtl" style="text-align: right;">אתרים&nbsp;אחרים</p>
<ul>
    <ul>
        <li dir="rtl" style="text-align: right;">היישום עשוי להכיל קישורים לאתרים או משאבי אינטרנט אחרים. כאשר תקליק על אחד מקישורים אלה תתחבר לאתר או משאב אינטרנט אחר (כדוגמת אפליקציית ניווט חיצונית, Whatsapp, חייגן), אשר עלול לאסוף מידע אודותיך מרצונך או באמצעות עוגיות או טכנולוגיות אחרות.&nbsp;</li>
        <li dir="rtl" style="text-align: right;">כל שימוש בתוכן של צד שלישי, לרבות כל כניסה של המשתמש לאתרים או משאבי אינטרנט של צדדים שלישיים על ידי הפניה בשירותים הדיגיטליים, יתבצע על אחריותך הבלעדית ולא תהיה כל טענה ו/או תביעה כנגד החברה בקשר לכך, לרבות אך מבלי לגרוע, בגין כל נזק, ישיר או עקיף, הנובע משימוש ו/או כניסה כאמור ו/או בשל פגיעה בפרטיות ו/או כל איסוף מידע ו/או שימוש בו על ידי צדדים שלישיים. אנו ממליצים לך לקרוא את מדיניות הפרטיות ותנאי השימוש של אותם צדדים שלישיים.&nbsp;</li>
    </ul>
</ul>
<p dir="rtl" style="text-align: right;">אבטחת&nbsp;מידע&nbsp;</p>
<ul>
    <ul>
        <li dir="rtl" style="text-align: right;">המידע שתמסור בעת שימושך באפליקציה, וכן כל מידע אשר ייאסף אודותיך בעת השימוש באפליקציה, יישמר במאגרי המידע הרשומים של החברה, אשר תעשה שימוש במידע על&nbsp;&nbsp;פי הוראות הדין ובהתאם למדיניות פרטיות זו.</li>
        <li dir="rtl" style="text-align: right;">החברה מיישמת מערכות ונהלים עדכניים ומחמירים לאבטחת מידע ומשקיעה מאמצים רבים ביישום ובשמירה על אבטחת האפליקציה והמידע האישי של המשתמשים (בין בעצמנו ובין באמצעות קבלת שירותים מצדדים שלישיים שהינם ספקי שירותים מוסמכים). המידע האישי שנמסר לנו מאוחסן על שרתים מאובטחים של החברה. אנו מיישמים נהלים ומדיניות אבטחת מידע כמקובל בתעשייה על מנת להבטיח את אבטחת המידע של המשתמשים ועל מנת למנוע כל שימוש לא מורשה במידע זה. בעוד שמערכות אלה מצמצמות את הסיכונים לחדירה בלתי-מורשית למחשבי האתר, אין בהן בטחון מוחלט. אם יש לך חששות בנוגע למידע מסוים, הימנע מלהעביר מידע זה באמצעות האינטרנט.&nbsp;</li>
        <li dir="rtl">באחריותך לנקוט אמצעי הגנה בסיסיים על מכשיר הקצה המשמש למתן השירותים כדי לשמור ולהגן על פרטייך האישיים, לפי המלצותינו כדלקמן:<ul>
                <li dir="rtl" style="text-align: right;">וידוא יישום אמצעי הגנה:</li>
            </ul>
        </li>
    </ul>
    <li dir="rtl" style="text-align: right;">הגדרת סיסמה / כניסה ביומטרית למכשיר הטלפון החכם;&nbsp;</li>
    <li dir="rtl" style="text-align: right;">הגדרת נעילה לטלפון לאחר 5 דקות של אי פעילות;</li>
    <li dir="rtl" style="text-align: right;">התקנת אנטי וירוס;</li>
    <li dir="rtl">יישום עדכוני אבטחת מידע לפי הנחיות יצרן.<ul>
            <ul>
                <li dir="rtl" style="text-align: right;">הכניסה לאפליקציה מתבצעת באמצעות הזנת מספר תעודת זהות ומספר הטלפון הנייד של המשתמש הקיים במערכות החברה וקבלת סיסמה חד פעמית. עליך לשמור על חיסיון הקוד לאפליקציה ולא להעביר אותה לאף גורם אחר.&nbsp;</li>
                <li dir="rtl" style="text-align: right;">לתשומת ליבך, אם אינך מתנתק מהאפליקציה ו/או מכשיר הנייד שלך לא אותחל, ניתן יהיה להיכנס לאפליקציה מבלי להזין שוב את פרטי החשבון שלך למשך 4 שעות. לכן, אנא וודא את התנתקותך מהאפליקציה בתום השימוש בה.&nbsp;</li>
            </ul>
        </ul>
    </li>
</ul>
<p dir="rtl" style="text-align: right;">זכות&nbsp;לעיין&nbsp;במידע</p>
<ul>
    <ul>
        <li dir="rtl" style="text-align: right;">על-פי חוק הגנת הפרטיות, התשמ&quot;א-1981, כל אדם זכאי לעיין בעצמו, או על ידי בא-כוחו שהורשה בכתב או על ידי אפוטרופוסו, במידע המוחזק עליו במאגר מידע. אדם שעיין במידע אודותיו ומצא כי אינו נכון, שלם, ברור או מעודכן, רשאי לפנות לבעל מאגר המידע בבקשה לתקן את המידע או למוחקו. אם בעל המאגר סירב למלא בקשה זו, עליו להודיע על כך למבקש באופן ובדרך שנקבעו בתקנות. על סירובו של בעל מאגר מידע לאפשר עיון ועל הודעת סירוב לתקן או למחוק מידע, רשאי מבקש המידע לערער לפני בית משפט השלום באופן ובדרך שנקבעו בתקנות.</li>
    </ul>
</ul>
<p dir="rtl" style="text-align: right;">שינויים&nbsp;במדיניות&nbsp;הפרטיות</p>
<ul>
    <ul>
        <li dir="rtl" style="text-align: right;">החברה שומרת על הזכות לשנות מדיניות פרטיות זו בכל זמן ובהתאם לשיקול דעתה הבלעדי , ומבקשת מכלל המשתמשים לשוב ולבקר בדף זה לעיתים קרובות ככל הניתן. השינויים במדיניות הפרטיות ייכנסו לתוקף בתאריך העדכון האחרון של המסמך, והמשך השימוש באפליקציה לאחר תאריך העדכון האחרון יהווה הסכמה של המשתמש לשינויים. במידה שמדיניות הפרטיות תתוקן בכדי להיענות לכל דרישה חוקית, התיקונים עשויים להיכנס לתוקף באופן מידי, או כפי שנדרש על פי הדין.</li>
    </ul>
</ul>
</body>
</html>