<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p dir="rtl" style="text-align: right;"><strong>תנאי שימוש &ndash; אפליקציית GET ELECTRIC IEC</strong></p>
<p dir="rtl" style="text-align: right;">תאריך עדכון אחרון &nbsp;20-08-2023</p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<ul>
    <li dir="rtl"><strong>כללי</strong>
        <ul>
            <li dir="rtl" style="text-align: right;">ברוך הבא לאפליקציית GET ELECTRIC IEC&nbsp;&nbsp;(להלן: &quot;האפליקציה&quot;)<strong>&nbsp;</strong>של<strong>&nbsp;</strong>חברת החשמל לישראל בע&quot;מ (להלן: &quot;החברה&quot;, &quot;חח&quot;י&quot;), אשר מטרתה לנהל תהליך תיקון תקלות נתיכים על ידי מתקני בית וחשמלאים חיצוניים.&nbsp;</li>
            <li dir="rtl" style="text-align: right;">עליך לקרוא בעיון רב את תנאי השימוש המפורטים בהמשך אשר ביחד עם מדיניות הפרטיות מהווים הסכם משפטי מחייב בין משתמש האפליקציה ( להלן &quot;אתה&quot; או &ldquo;המשתמש&ldquo;) לבין חח&quot;י,&nbsp;&nbsp;בכל הנוגע לאופן השימוש באפליקציה ומחליפים כל הבנה ו/או הסכמה אחרת, בעל-פה או בכתב, הנוגעת לשימוש באפליקציה ובתוכה..</li>
            <li dir="rtl" style="text-align: right;">תנאי השימוש שלהלן חלים על שימוש באפליקציה בלבד. יחד עם זאת, המונח &quot;אפליקציה&quot; מתייחס לאפליקציה על כל חלקיה ולתוכן האפליקציה מכל סוג שהוא, לרבות כל המידע והתוכן הכלול באפליקציה, בין אם הוא גלוי למשתמשים ובין אם לאו.&nbsp;</li>
            <li dir="rtl" style="text-align: right;">תנאי השימוש נתונים לשינוי ו/או עדכון בכל עת, ועשויים להשתנות מעת לעת, על פי שיקול דעתה הבלעדית של החברה.&nbsp;</li>
            <li dir="rtl" style="text-align: right;">תנאי השימוש חלים על השימוש באפליקציה ובתכנים הכלולים בה (כדוגמת סמארטפון, טאבלט וכיו&quot;ב). כמו כן תנאי השימוש חלים על השימוש באפליקציה בין באמצעות רשת האינטרנט ובין באמצעות כל רשת או אמצעי תקשורת אחרים.</li>
            <li dir="rtl" style="text-align: right;">מובהר בזאת, כי השימוש בלשון זכר בתנאי השימוש, נעשה מטעמי נוחות בלבד ואין בו כדי לפגוע ו/או ליצור אפליה כלשהי.</li>
        </ul>
    </li>
</ul>
<p dir="rtl" style="text-align: right;"><br></p>
<ul>
    <li dir="rtl"><strong>הסכמה לתנאי השימוש</strong>
        <ul>
            <li dir="rtl" style="text-align: right;">שימוש באפליקציה לכל צורך שהוא, לרבות לצורך שימוש בשירות, כפוף למסמך זה ומדיניות הפרטיות של החברה. השימוש בשירות ייחשב כהסכמה מצד המשתמש לכל התנאים, ההתניות וההודעות הכלולים במסמך זה. לפיכך, בעצם השימוש באפליקציה (לרבות בכל תוכן המופיע בו, ובכלל זה, שימוש בשירות) המשתמש מצהיר כי קרא והבין את מסמכי מדיניות הפרטיות ותנאי השימוש והסכים לתנאיהם.</li>
        </ul>
    </li>
</ul>
<p dir="rtl" style="text-align: right;"><br></p>
<ul>
    <li dir="rtl"><strong>הצטרפות ושימוש באפליקציה</strong>
        <ul>
            <li dir="rtl" style="text-align: right;">בעת הורדת האפליקציה תבוצע הרשמה לשם יצירת פרופיל אישי ובמסגרתה המשתמש יתבקש לספק מספר ת.ז. ומספר טלפון. החברה רשאית לקבוע מעת לעת דרכי זיהוי נוספות או אחרות.&nbsp;</li>
            <li dir="rtl" style="text-align: right;">במסגרת הרישום לאפליקציה והשימוש בה, תתבקש למסור נתונים אודותיך ועל התקלות בהן טיפלת. האחריות למסירת נתונים, דיוקם ונכונותם, חלה עליך בלבד. חח&quot;י אינה אחראית לכל נזק ו/או תקלה שייגרמו כתוצאה ממילוי מידע כוזב ו/או שגוי ו/או חלקי, לרבות בעקבות טעויות הקלדה, ולך לא תהיה כל טענה ו/או תביעה כלפי חח&quot;י בנוגע לכך. אם ימסרו פרטים שאינם מדויקים או אינם נכונים, חח&quot;י תהיה רשאית לחייב את מוסר הפרטים בגין נזקים שייגרמו לה, למשתמשים אחרים ולצדדים אחרים כתוצאה מפרטים שגויים אלו.</li>
            <li dir="rtl" style="text-align: right;">המשתמש מתחייב כי מכשיר הטלפון הסלולרי באמצעותו מוגשת הבקשה לרישום באפליקציה (&quot;המכשיר&quot;) מוחזק על ידו, בשליטתו ובבעלותו, משמש אותו באופן בלעדי, וכי הוא נמצא ברשותו דרך קבע ומוגן בקוד נעילה, הידוע רק למשתמש.</li>
            <li dir="rtl" style="text-align: right;">התחזות לכל אדם, גוף או תאגיד ולכל ישות אחרת במסגרת השימוש באפליקציה ובשירות אסורים בהחלט.</li>
            <li dir="rtl" style="text-align: right;">השימוש באפליקציה ובשירות ייעשה על פי דין בתום לב ובדרך מקובלת.</li>
            <li dir="rtl" style="text-align: right;">חל איסור מוחלט לעשות שימוש באפליקציה לשם ביצוע פעולה שהיא בניגוד לדין או לתקנת הציבור - משתמש העובר על איסור זה צפוי לעונשים הקבועים בחוק ומתחייב לשפות את החברה בגין כל נזק שייגרם לה כתוצאה מפעולות אלו.</li>
            <li dir="rtl" style="text-align: right;">השימוש באפליקציה מתבסס על גישה לאינטרנט. צריכת האינטרנט שדורשת האפליקציה עלולה להיות מוגברת, המשתמש יישא בכל עלויות צריכת האינטרנט אשר ינבעו מהאפליקציה.</li>
            <li dir="rtl" style="text-align: right;">הנך מתבקש לשמור בסודיות את הקוד שתקבל במהלך ההתחברות למערכת , כדי למנוע שימוש לרעה בהם. אתה תהיה האחראי הבלעדי, לכל פעולה שתבוצע במערכת תחת חשבון המשתמש שלך. . ככל שיש לך יסוד להאמין כי נעשה שימוש בפרטי הזיהוי שלך על-ידי גורם בלתי מורשה, עליך להודיע על כך לחח&quot;י באופן מיידי.&nbsp;</li>
        </ul>
    </li>
</ul>
<p style="text-align: right;"><br></p>
<ul>
    <li dir="rtl"><strong>המידע באפליקציה</strong>
        <ul>
            <li dir="rtl" style="text-align: right;">חח&quot;י משקיעה מאמצים על מנת שהמידע באפליקציה יהיה מדויק ועדכני אך אינה מחויבת לכך ולא תישא באחריות כלשהי, במישרין או בעקיפין, לזמינות, נכונות, מהימנות, עדכניות, שלמות, מידת הדיוק ולנכונות המידע המפורסם באפליקציה. כל הסתמכות על האפליקציה ו/או תוכן האפליקציה, נעשית לפי שיקול דעתך ובאחריותך בלבד. חח&quot;י לא תהא אחראית ולא תחויב בתשלום פיצוי ו/או סעד בגין כל נזק, ישיר ו/או עקיף, אשר עלול להיגרם משימושך באפליקציה ו/או הסתמכותך על מידע זה או אחר המצוי בה, ושימוש זה נעשה על אחריותך בלבד.</li>
            <li dir="rtl" style="text-align: right;">האפליקציה מכילה קישורים לאתרים חיצוניים (&ldquo;לינקים&rdquo;). חח&quot;י אינה מתחייבת כי כל הקישורים תקינים ויובילו אותך לאתרים פעילים. חח&quot;י אינה אחראית לתכנים ולמידע הנכללים באתרים אלה, לדיוקם, מהימנותם ואמינותם ואינה אחראית לכל נזק, עקיף או ישיר שיגרם לך או לרכושך כתוצאה משימוש או הסתמכות על המידע והתכנים המופיעים באתרים אליהם תגיע באמצעות שימוש או קישור הקיימים באפליקציה. חח&quot;י רשאית להסיר מהאפליקציה קישורים שנכללו בו לפי שיקול דעתה הבלעדי. אנו ממליצים לך לקרוא את מדיניות הפרטיות ותנאי השימוש של אתרים אלה.</li>
        </ul>
    </li>
</ul>
<p style="text-align: right;"><br></p>
<ul>
    <li dir="rtl"><strong>הודעות&nbsp;</strong>
        <ul>
            <li dir="rtl" style="text-align: right;">מובהר, כי במסגרת הצטרפות ושימוש באפליקציה, החברה עשויה לשלוח הודעות ועדכונים, וזאת באמצעות משלוח דואר אלקטרוני או מסרוני טקסט (SMS).</li>
        </ul>
    </li>
</ul>
<p dir="rtl" style="text-align: right;"><br></p>
<ul>
    <li dir="rtl"><strong>סודיות</strong>
        <ul>
            <li dir="rtl" style="text-align: right;">חח&quot;י&nbsp;&nbsp;מתחייבת לא להעביר, להראות, למסור, להודיע, לגלות להעתיק או להביא לידיעת כל גורם, במישרין או בעקיפין, את המידע אשר נשמר באזור האישי, שלא בהתאם למדיניות הפרטיות של האפליקציה ו/או ללא אישור מראש ובכתב של המשתמש ככל והמקרה אינו נמנה במדיניות הפרטיות.</li>
            <li dir="rtl" style="text-align: right;">מבלי לגרוע מהאמור בתנאי שימוש אלה, חח&quot;י&nbsp;&nbsp;מתחייבת לפעול בהתאם להוראות כל דין לרבות חוק הגנת הפרטיות, תשמ&quot;א-1981 ותקנות הגנת הפרטיות (אבטחת מידע), תשע&quot;ז- 2017.</li>
        </ul>
    </li>
</ul>
<p dir="rtl" style="text-align: right;"><br></p>
<ul>
    <li dir="rtl"><strong>אבטחת מידע</strong>
        <ul>
            <li dir="rtl" style="text-align: right;">המשתמש מאשר, כי על-מנת להיכנס לאפליקציה הוא יידרש בכל כניסה לאפליקציה לזהות עצמו.</li>
            <li dir="rtl" style="text-align: right;">הכניסה לאפליקציה מתבצעת באמצעות הזנת מספר תעודת זהות ומספר הטלפון הנייד של המשתמש הקיים במערכות החברה וקבלת קוד חד פעמי. עליך לשמור על חיסיון הקוד לאפליקציה ולא להעבירו לאף גורם אחר</li>
            <li dir="rtl" style="text-align: right;">הזכות לעשות שימוש בשירות דרך האפליקציה היא אישית והמשתמש אינו רשאי לאפשר, להסמיך או להרשות לאחר להשתמש בה באמצעות המכשיר או פרטיו של המשתמש.</li>
            <li dir="rtl" style="text-align: right;">ככל שהמשתמש ייבחר להחליף את המכשיר, למוכרו או להעבירו לאחר, עליו למחוק את האפליקציה מהמכשיר.</li>
            <li dir="rtl" style="text-align: right;">ידוע למשתמש, כי האפליקציה, מעצם היותה מבוססת על רשתות תקשורת, חשופה לסיכונים הנובעים מכך, לרבות גילוי ו/או שינוי מידע הזורם בהן, ע״י מי שאינו מורשה לכך. החברה משקיעה מאמצים רבים ומיישמת אמצעי אבטחה שונים לשם הגנה מפני סיכונים אלה, אך כידוע אין אפשרות לחסימה הרמטית. על מנת להקטין את הסיכון נדרש המשתמש לפעול לאבטחת המידע כמפורט להלן:&nbsp;</li>
            <li dir="rtl" style="text-align: right;">המשתמש יהיה אחראי לשמירת אמצעי אבטחת המידע בסודיות מוחלטת, ומתחייב כי הוא לא יגלה אותם ו/או ימסור אותם לאחרים,&nbsp;&nbsp;וכי הוא יישא במלוא האחריות לכל הוצאה ו/או נזק ו/או אובדן ו/או הפסד שיגרם למשתמש ו/או לחברה ו/או לצד ג&apos; כלשהו כתוצאה משימוש בסימני הזיהוי, כולם או חלקם, על ידי אחרים.&nbsp;</li>
            <li dir="rtl">אנו ממליצים למשתמשים לכל הפחות, על יישום אמצעי הגנה בסיסיים על מכשיר הקצה המשמש למתן השירותים כדי לשמור ולהגן על המידע של המשתמש, לפי המלצותינו כדלקמן:<ul>
                    <li dir="rtl" style="text-align: right;">הגדרת סיסמה&nbsp;&nbsp;/ כניסה ביומטרית למכשיר הטלפון החכם;&nbsp;</li>
                    <li dir="rtl" style="text-align: right;">הגדרת נעילה לטלפון לאחר 5 דקות של אי פעילות;</li>
                    <li dir="rtl" style="text-align: right;">התקנת אנטי וירוס;</li>
                    <li dir="rtl" style="text-align: right;">יישום עדכוני אבטחת מידע לפי הנחיות יצרן.</li>
                </ul>
            </li>
            <li dir="rtl" style="text-align: right;">לתשומת ליבך, אם אינך מתנתק מהאפליקציה ו/או מכשיר הנייד שלך לא אותחל, ניתן יהיה להיכנס לאפליקציה מבלי להזין שוב את פרטי ההזדהות&nbsp;&nbsp;שלך למשך 4 שעות. לכן, אנא וודא את התנתקותך מהאפליקציה בתום השימוש בה.&nbsp;</li>
        </ul>
    </li>
</ul>
<p dir="rtl" style="text-align: right;"><br></p>
<ul>
    <li dir="rtl"><strong>שימושים אסורים באפליקציה</strong>
        <ul>
            <li dir="rtl" style="text-align: right;">המשתמש מתחייב שלא לעשות שימוש מסחרי באפליקציה ו/או בתוכן האפליקציה.</li>
            <li dir="rtl" style="text-align: right;">המשתמש מתחייב שלא לבצע כל פעולה המהווה זיוף, התחזות, הטעיה או הונאה.</li>
            <li dir="rtl" style="text-align: right;">המשתמש מתחייב שלא להעלות, לשלוף, לשדר, להפיץ או לפרסם מידע או תוכן אחר הכולל פרסומת מכל סוג שהוא, בלי הרשאה מפורשת ומראש מחח&quot;י.</li>
            <li dir="rtl" style="text-align: right;">המשתמש מתחייב שלא לשבש או להפר כל זכות של משתמש אחר באפליקציה, לרבות הזכות לפרטיות ו/או לאסוף מידע אישי על המשתמשים באפליקציה ללא הסכמתם המפורשת בכתב, לרבות&nbsp;באמצעים אוטומטיים.</li>
            <li dir="rtl" style="text-align: right;">המשתמש מתחייב לא לבצע כל פעולה המיועדת לחדירה שלא כדין למחשבי האפליקציה, לסרוק אחר נתיבי גישה או פרצות במערכות מחשב אלה, לפצח את מערכות האבטחה או ההצפנה המגנות על האפליקציה ו/או על האפליקציה והמידע שבהם או לסייע בפעולות כאמור לעיל.</li>
            <li dir="rtl" style="text-align: right;">המשתמש מתחייב לא להשתמש באפליקציה או בתוכן האפליקציה לשם יצירת מאגר מידע ו/או לקט. אי עמידה במגבלות אלו עלולה להוביל למניעת גישתך לאפליקציה ואף לחשוף אותך לאחריות אזרחית ו/או פלילית על-פי כל דין.</li>
            <li dir="rtl" style="text-align: right;">המשתמש מסכים כי, מבלי לפגוע בכל זכות אחרת של חח&quot;י, במקרים בהם חח&quot;י תחשוש כי השימוש של המשתמש אינו מתיישב עם הוראות תנאי השימוש ו/או כל דין, חח&quot;י&nbsp;&nbsp;רשאית לבצע כל פעולה אשר תמצא לנכון לנקוט כדי להגן על קניינה ו/או על זכויותיהועל זכויות משתמשים אחרים ובין היתר, למנוע מהמשתמש גישה לאפליקציה ולתעד ו/או להתחקות אחר השימוש של המשתמשים באפליקציה. כן מובהר, כי חח&quot;י&nbsp;&nbsp;עשויה להעביר פרטים לגבי זהות המשתמש ולגבי פעולות שביצע באפליקציה לצדדים שלישיים, לרבות במקרה שבו הצדדים השלישיים יוכיחו, להנחת דעתה של חח&quot;י , כי הינם נפגעים מפעילותו המפרה של המשתמש, בכפוף להוראות מדיניות הפרטיות ובהתאם לתנאיה.</li>
            <li dir="rtl" style="text-align: right;">המשתמש יהיה אחראי לכל פעולה שתתבצע&nbsp;&nbsp;באפליקציה, תוך שימוש בפרטי ההזדהות שלו בקוד הגישה או בהרשאה שלו.</li>
            <li dir="rtl" style="text-align: right;">המשתמש נושא באחריות מלאה כלפי חח&quot;י , ויפצה ו/או ישפה אותו עם דרישתו הראשונה בגין כל נזק, אובדן, הפסד, הוצאה, דרישה ו/או תביעה ו/או טענה שתהיה לכל צד ג&apos; בכל הקשור לאמור בסעיף זה.</li>
        </ul>
    </li>
</ul>
<p dir="rtl" style="text-align: right;"><br></p>
<ul>
    <li dir="rtl"><strong>קניין רוחני</strong>
        <ul>
            <li dir="rtl" style="text-align: right;">מלוא זכויות היוצרים והקניין הרוחני באפליקציה לרבות בשם וסימני מסחר, בעיצוב האפליקציה, בתכנים המתפרסמים בהעל ידי חח&quot;י או מי מטעמה ובכל תוכנה, יישום, קוד מחשב, קובץ גרפי, טקסט וכל חומר אחר הכלולים בו, הינם של חח&quot;י בלבד או של צד שלישי אשר העניק לחח&quot;י זכות שימוש בהם, והשימוש בהם על-ידך הינו אסור ללא קבלת רשות מפורשת מראש ובכתב מחח&quot;י.&nbsp;</li>
            <li dir="rtl" style="text-align: right;">כל זכויות הקניין הרוחני בכל התכנים בחח&quot;י, לרבות זכויות היוצרים, זכויות הבעלות על המידע, לרבות זכויות ההפצה וכל קנין רוחני אחר במידע הינם רכושה של חח&quot;י בלבד. זכויות אלה חלות, בין היתר, על עיצובה הגרפי של האפליקציה, בסיסי הנתונים , לרבות המידע המופץ בה וכל פרט אחר הקשור בהפעלתה. למשתמש לא תהיה כל זכות מכל סוג שהיא על המידע.</li>
            <li dir="rtl" style="text-align: right;">אין לעשות כל שימוש מסחרי במידע המתפרסם באפליקציה, בבסיס הנתונים של האפליקציה, בתמונות המופיעות בה או בפרטים אחרים המתפרסמים על ידי ו/או מטעם חח&quot;י בלא קבלת הסכמת חח&quot;י מראש ובכתב. אין להשתמש בנתונים כלשהם המתפרסמים באפליקציה לצורך הצגתם באתר אינטרנט או בשירות אחר כלשהו בלא קבלת הסכמת חח&quot;י מראש ובכתב ובכפוף לתנאי אותה הסכמה, אם וככל שתינתן. בכלל זה נאסר לאסוף נתונים מן האפליקציה באמצעות תוכנות ו/או להפיץ נתונים כאלה ברבים באופן מסחרי או במסגרת מסחרית.</li>
            <li dir="rtl" style="text-align: right;">אין להעתיק, לשכפל, להפיץ, למכור, לשווק ולתרגם מידע כלשהו מן האפליקציה, לרבות המידע בה, סימני מסחר, תמונות, טקסטים וקוד-מחשב בלא קבלת רשותה המפורשת של חח&quot;י מראש ובכתב.&nbsp;</li>
            <li dir="rtl" style="text-align: right;">המשתמש מתחייב בזאת שלא לפרסם ברבים את המידע ו/או כל חלק ממנו, אלא בהתאם לתנאי השימוש באפליקציה. המשתמש מתחייב, כי לא יפרסם ברבים כל מידע ו/או פלט של המידע, בין שהוא מודפס ובין שהוא ניתן כקובץ על גבי אמצעים מגנטיים או בכל צורה אחרת וכי לא ישכפל, לא יצלם, לא יעתיק ולא ידפיס כל מידע ו/או פלט כאמור לעיל מתוך המידע או כל חלק ממנו לצורך הפצה או פרסום בכל דרך שהיא וכן לא יאפשר, בין במישרין ובין בעקיפין, בין בתמורה ובין ללא תמורה, את ביצוע אחת או יותר מהפעולות המפורטות לעיל, שלא בהתאם לתנאי שירות אלו ומדיניות הפרטיות של האפליקציה, ויש בהם עבירה על החוק.</li>
        </ul>
    </li>
</ul>
<p dir="rtl" style="text-align: right;"><br></p>
<ul>
    <li dir="rtl"><strong>שונות</strong>
        <ul>
            <li dir="rtl" style="text-align: right;">לצורך תפעולה השוטף של האפליקציה ואיסוף נתונים סטטיסטיים, חח&quot;י עשויה לעשות שימוש בכלים טכנולוגיים לרבות שמירת כתובת ה IP, להרחבה נא ראו את מדיניות הפרטיות של האפליקציה.</li>
            <li dir="rtl" style="text-align: right;">חח&quot;י&nbsp;&nbsp;שומרת לעצמה את הזכות לשנות את האפליקציה, בכלל זה מראה, מבנה, תוכן, היקף השירותים הניתנים בה או כל שינוי אחר, לפי שיקול דעתה. לא תהיה למשתמש כל טענה, תביעה ו/או דרישה כלפי חח&quot;י בגין ביצוע שינויים כאמור ו/או בגין תקלות או נזקים ישירים או עקיפים שיתרחשו עקב ביצוע השינויים באפליקציה לרבות הפסקת פעילותה באופן זמני או קבוע.</li>
            <li dir="rtl" style="text-align: right;">כל עיכוב או חסימת גישה לאפליקציה בשל כוח עליון, כגון מלחמה, שביתה, שריפה, הפסקת חשמל, מזג אוויר וכיו&rdquo;ב, לא ייחשב כהפרה של הסכם זה ע&rdquo;י חח&quot;י ולא יקנה לך פיצויים ו/או זכות תביעה.</li>
        </ul>
    </li>
</ul>
<p dir="rtl" style="text-align: right;"><br></p>
<ul>
    <li dir="rtl"><strong>מאגרי מידע ודיני הגנת הפרטיות</strong>
        <ul>
            <li dir="rtl" style="text-align: right;">הנתונים הנאספים יישמרו במאגרי המידע של חח&quot;י ובאחריותה. להרחבה ראה את מדיניות הפרטיות שלנו.&nbsp;</li>
            <li dir="rtl" style="text-align: right;">שימוש במידע יבוצע בהתאם למטרות שהוגדרו במדיניות הפרטיות, בהתאם למסמך זה ובכפוף להוראות כל דין ולחובות החלות על פי כל דין, לרבות דיני הגנת הפרטיות.</li>
            <li dir="rtl" style="text-align: right;">מבלי לגרוע מכלליות האמור לעיל, חח&quot;י מתחייבת לקיים את הוראות הדין בכל הנוגע לשמירה והעברה של מידע אישי ונתונים של משתמשי האפליקציה, ומתחייבת לקיים את הוראות חוק הגנת הפרטיות, התשמ&quot;א-1981 (&quot;חוק הגנת הפרטיות&quot;) לרבות פרק ב&apos; לחוק (הגנה על הפרטיות במאגרי מידע), התקנות שהותקנו מכוח חוק הגנת הפרטיות.</li>
            <li dir="rtl" style="text-align: right;">ככל שאיסוף ועיבוד המידע כפוף למערכות דינים אחרות, אזי הבסיס החוקי לעיבוד המידע&nbsp;&nbsp;אודותיך ואודות אחרים על פי אותם דינים עשוי להיות שונה.&nbsp;</li>
        </ul>
    </li>
</ul>
<p dir="rtl" style="text-align: right;"><br></p>
<ul>
    <li dir="rtl"><strong>הגבלת אחריות</strong>
        <ul>
            <li dir="rtl" style="text-align: right;">השירות באפליקציה ניתן לשימוש כפי שהוא &apos;AS IS&apos;. מעצם כך לא תהיה כל טענה, תביעה או דרישה כלפי חח&quot;י&nbsp;&nbsp;בגין תכונות ואופן השירות, יכולותיו, מגבלותיו או התאמתו לצרכי ולדרישות המשתמש.</li>
            <li dir="rtl" style="text-align: right;">חח&quot;י תשיב לפניות מנושאי מידע או מרשויות רגולטוריות בנוגע לעיבוד מידע,&nbsp;&nbsp;והכל בהתאם להוראות כל דין.&nbsp;</li>
        </ul>
    </li>
</ul>
<p dir="rtl" style="text-align: right;"><br></p>
<p dir="rtl" style="text-align: right;"><br></p>
<ul style="text-align: right;">
    <li dir="rtl"><strong>ברירת דין וסמכות שיפוט</strong>
        <ul>
            <li dir="rtl">&nbsp;השימוש באפליקציה זו ובתכניה כפופה לדין הישראלי בלבד.</li>
        </ul>
    </li>
</ul>
<p dir="rtl"><br></p>
</body>
</html>